* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #f0f0f0d7;
}

header {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 30px;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.usuario {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 78px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 10px;
    display: flex;
}

.usuario a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    margin: 0px 45px 0px 38px;
    display: flex;
}

@media screen and (max-width: 405px) {
    .usuario a {
        font-size: 14px;
    }
}

.nuestro {
    position: relative;
    top: 148px;
    text-align: center;
    color: rgb(77, 76, 76);
}

.linea {
    border-right: 2px solid white;
    height: 20px;
    margin: 0px 25px 0px 25px;
}

.titulo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.titulo h1 {
    font-size: 30px;
    color: rgb(244, 248, 3);
}

.titulo i {
    color: rgb(244, 248, 3);
}

.titulo p {
    margin: 0px 0px 0px 18px;
    font-size: 11px;
    color: black;
}

.menu {
    margin: 0px 45px 0px 0px;
}

.menu a {
    background-color: rgb(244, 248, 3);
    color: rgba(0, 0, 0, 0.76);
    text-decoration: none;
    font-weight: 500;
    margin: 0px 3px 0px 24px;
    padding: 5px;
    border-radius: 4px;
}

.menu a:hover {
    color: rgb(58, 58, 58);
}

nav {
    position: relative;
    top: 146px;
    background-color: #f0f0f0d7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px 10px 10px;
}

.cuadro {
    border: 1px solid rgba(192, 191, 191, 0.473);
    border-left: 7px solid rgb(244, 248, 3);
    padding: 30px;
    text-align: center;
    margin: 15px;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.199);
    animation-name: lio;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes lio {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(2%);
    }
}

.cuadro a {
    color: rgb(5, 7, 90);
    font-size: 18px;
    text-decoration: none;
}

.cuadro a:hover {
    background-color: yellow;
}

.cuadro h2 {
    margin-bottom: 12px;
    font-weight: 500;
    color: rgba(22, 22, 22, 0.89);
}

.hora {
    position: absolute;
    top: 3px;
    left: 66%;
}

.hora h3 {
    color: rgba(37, 37, 37, 0.699);
    font-size: 12px;
}

.usuario2 {
    position: fixed;
    z-index: 3;
    bottom: 0;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    padding: 10px;
    display: flex;
    border-radius: 8px;
}

.usuario2 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}

.ventana {
    background-color: rgb(244, 248, 36);
    color: white;
    border-radius: 4px;
    width: 350px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    top: 300px;
}

.ventana a {
    color: white;
    font-weight: 800;
    padding: 6px 10px 4px 10px;
}

.modal {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -250px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#IrVentanaFlotante:target {
    opacity: 1;
    pointer-events: auto;
}

.opcion {
    /*width: 100px;
          background-color:yellow;
  border:1px solid black;*/
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 6px;
    text-align: center;
}

.container p {
    font-size: 15px;
    color: whitesmoke;
    margin-bottom: 4px;
}

.container i {
    color: rgb(226, 245, 55);
}

#contact input[type="text"],
#contact input[type="time"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="range"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 15px/15px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: rgb(7, 7, 146);
    padding: 30px;
    margin: 10px 12;
    box-shadow: 0 0 20px 0 rgba(170, 169, 169, 0.2), 0 5px 5px 0 rgba(180, 180, 180, 0.24)
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="time"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="range"],
#contact textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    border-radius: 4px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="time"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="date"]:hover,
#contact input[type="range"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 90%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #706dfc;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

 ::-webkit-input-placeholder {
    color: rgb(8, 8, 8);
}

 :-moz-placeholder {
    color: rgb(8, 8, 8);
}

 ::-moz-placeholder {
    color: rgb(10, 10, 10);
}

 :-ms-input-placeholder {
    color: rgb(14, 13, 13);
}

.core {
    position: relative;
    padding: 14px 14px 22px 14px;
    background-color: white;
    top: 70px;
    justify-content: center;
    border: 1px solid rgba(156, 156, 156, 0.199);
    margin: 22px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(155, 154, 154, 0.521);
}

.co {
    text-align: center;
}

.con {
    text-align: center;
    position: relative;
    top: 70px;
}

.co h1 {
    color: rgb(2, 2, 114);
    font-weight: 800;
    font-size: 30px;
}

.con h3 {
    margin: 8px 20px 8px 20px;
    font-weight: 900;
    border: 1px solid rgba(50, 63, 250, 0.048);
    border-radius: 5px;
    padding: 12px;
    background-color: rgba(211, 210, 210, 0.116);
    font-size: 15px;
    color: rgba(68, 68, 68, 0.637);
}

.menu {
    animation-name: subs;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes subs {
    0% {
        transform: translateY(1%);
    }
    20% {
        transform: translateX(1%);
    }
    50% {
        transform: translateY(1%)
    }
    80% {
        transform: translateX(1%)
    }
    100% {
        transform: translateY(1%)
    }
}

.co img {
    width: 160px;
    padding: 30px 0px 30px 0px;
    animation-name: lios;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes lios {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(2%);
    }
}

.con i {
    color: rgba(2, 2, 114, 0.822);
    font-weight: 900;
    font-size: 15px;
}

.co a {
    padding: 12px 40px 12px 40px;
    background-color: rgb(7, 7, 146);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
}

.bajo {
    padding: 16px;
}


/*diligencia*/

.ventana {
    background-color: rgb(7, 7, 146);
    color: white;
    border-radius: 4px;
    width: 350px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    top: 300px;
}

.ventana a {
    color: white;
    font-weight: 800;
    padding: 6px 10px 4px 10px;
}

.modal {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -250px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#IrVentanaFlotante1:target {
    opacity: 1;
    pointer-events: auto;
}

.opcion {
    /*width: 100px;
        background-color:yellow;
border:1px solid black;*/
}

.container1 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 6px;
    text-align: center;
}

.container1 p {
    font-size: 15px;
    color: whitesmoke;
    margin-bottom: 4px;
}

.container1 i {
    color: rgb(226, 245, 55);
}

#contact input[type="text"],
#contact input[type="time"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="range"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 15px/15px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: rgb(244, 248, 3);
    padding: 30px;
    margin: 10px 12;
    box-shadow: 0 0 20px 0 rgba(170, 169, 169, 0.2), 0 5px 5px 0 rgba(180, 180, 180, 0.24)
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="time"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="range"],
#contact textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    border-radius: 4px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="time"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="date"]:hover,
#contact input[type="range"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 90%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
    border: none;
    background: rgb(255, 136, 0);
    color: rgb(245, 245, 245);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: rgb(8, 8, 8);
}

:-moz-placeholder {
    color: rgb(8, 8, 8);
}

::-moz-placeholder {
    color: rgb(10, 10, 10);
}

:-ms-input-placeholder {
    color: rgb(14, 13, 13);
}

.aba {
    position: relative;
    top: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.nuestro p {
    margin: 4px;
    font-size: 24px;
}

.que img {
    width: 60px;
}

.que h2 {
    font-size: 22px;
    color: rgb(4, 4, 105);
}

.que p {
    font-size: 13px;
}

.que {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(191, 191, 191, 0.377);
    padding: 8px;
    box-shadow: 4px 4px 4px rgba(190, 189, 189, 0.678);
}

.ini img {
    width: 65px;
}

.carga {
    position: relative;
    top: 300px;
    text-align: center;
}

.carga h2 {
    color: #aaa;
    font-weight: 900;
}

.novedades-ssolicitud {
    position: relative;
    top: 140px;
    text-align: center;
    margin: 0px 12px 22px 12px;
    border: 1px solid rgba(61, 61, 61, 0.178);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(53, 53, 53, 0.253);
}

.novedades-ssolicitud button {
    background-color: rgb(244, 248, 3);
    padding: 6px;
    margin: 10px;
    border-radius: 10px;
}

.novedades-ssolicitud a {
    font-weight: 900;
    color: white;
    text-decoration: none;
    padding: 0px 40px 0px 40px;
}

.boto {
    text-align: center;
    position: relative;
    top: 130px;
    margin: 5px;
    padding: 30px 0px 60px 0px;
}

.boto a {
    background-color: rgb(7, 7, 146);
    color: white;
    font-weight: 900;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}

section {
    position: relative;
    text-align: center;
    top: 140px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 12px 15px 12px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(70, 69, 69, 0.342);
}

summary {
    display: inline;
    background-color: rgba(6, 6, 160, 0.897);
    color: white;
    font-weight: 900;
    padding: 6px 40px 6px 40px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}


/*ruta perzonalidada*/

.ventana {
    background-color: rgb(244, 248, 3);
    color: white;
    border-radius: 4px;
    width: 350px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    top: 300px;
}

.ventana a {
    color: white;
    font-weight: 800;
    padding: 6px 10px 4px 10px;
}

.modal {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -250px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#IrVentanaFlotante3:target {
    opacity: 1;
    pointer-events: auto;
}

.opcion {
    /*width: 100px;
        background-color:yellow;
border:1px solid black;*/
}

.container3 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 6px;
    text-align: center;
}

.container3 p {
    font-size: 15px;
    color: whitesmoke;
    margin-bottom: 4px;
}

.container3 i {
    color: rgb(226, 245, 55);
}

#contact input[type="text"],
#contact input[type="time"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="range"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 15px/15px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: rgb(244, 248, 3);
    padding: 30px;
    margin: 10px 12;
    box-shadow: 0 0 20px 0 rgba(170, 169, 169, 0.2), 0 5px 5px 0 rgba(180, 180, 180, 0.24)
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="time"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="range"],
#contact textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    border-radius: 4px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="time"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="date"]:hover,
#contact input[type="range"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 90%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
    border: none;
    background: rgb(255, 136, 0);
    color: rgb(245, 245, 245);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: rgb(8, 8, 8);
}

:-moz-placeholder {
    color: rgb(8, 8, 8);
}

::-moz-placeholder {
    color: rgb(10, 10, 10);
}

:-ms-input-placeholder {
    color: rgb(14, 13, 13);
}


/*medicamentos*/

.ventana {
    background-color: rgb(244, 248, 3);
    color: white;
    border-radius: 4px;
    width: 350px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    top: 300px;
}

.ventana a {
    color: white;
    font-weight: 800;
    padding: 6px 10px 4px 10px;
}

.modal {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -250px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#IrVentanaFlotante4:target {
    opacity: 1;
    pointer-events: auto;
}

.opcion {
    /*width: 100px;
        background-color:yellow;
border:1px solid black;*/
}

.container4 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 6px;
    text-align: center;
}

.container4 p {
    font-size: 15px;
    color: whitesmoke;
    margin-bottom: 4px;
}

.container4 i {
    color: rgb(226, 245, 55);
}

#contact input[type="text"],
#contact input[type="time"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="range"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 15px/15px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: rgb(244, 248, 3);
    padding: 30px;
    margin: 10px 12;
    box-shadow: 0 0 20px 0 rgba(170, 169, 169, 0.2), 0 5px 5px 0 rgba(180, 180, 180, 0.24)
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="time"],
#contact input[type="tel"],
#contact input[type="date"],
#contact input[type="range"],
#contact textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    border-radius: 4px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="time"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="date"]:hover,
#contact input[type="range"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 90%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
    border: none;
    background: rgb(255, 136, 0);
    color: rgb(245, 245, 245);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: rgb(8, 8, 8);
}

:-moz-placeholder {
    color: rgb(8, 8, 8);
}

::-moz-placeholder {
    color: rgb(10, 10, 10);
}

:-ms-input-placeholder {
    color: rgb(14, 13, 13);
}

.usuario button {
    border: none;
    background-color: rgb(255, 255, 255);
    color: white;
    font-weight: 900;
    font-size: 16px;
}

.anuncio {
    text-align: center;
    position: relative;
    top: 140px;
    display: flex;
    overflow-y: scroll;
    margin: 0px 20px 0px 20px;
    align-items: center;
}

.anuncio::-webkit-scrollbar {
    display: none;
}

.cuadro2 {
    background-color: white;
    border: 2px solid rgb(7, 7, 146);
    margin: 0px 20px 0px 20px;
    padding: 10px;
    border-radius: 100%;
}

.cuadro2 img {
    width: 50px;
    border-radius: 100%;
}

.cance {
    position: relative;
    top: 90px;
    justify-content: center;
    text-align: center;
}

.cance button {
    padding: 10px 28px 10px 28px;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgb(230, 54, 54);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
}

#Selector {
    width: 200px;
    margin: 0 auto;
}

.SubirFoto {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    line-height: normal;
    font-size: 100% margin: 0;
}

.SubirFoto+label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #d3394c;
    display: inline-block;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
}

.SubirFoto:focus+label,
.SubirFoto+label:hover {
    color: orange;
    outline: 1px dotted #000;
    fill: orange;
}

.SubirFoto+label figure {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.SubirFoto+label:hover figure {
    background: orange;
}

inputfile+label svg {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}

.hora h3 {
    font-size: 12px;
    font-weight: 900;
    color: rgb(38, 38, 38);
}

.core a {
    animation-name: uno;
    animation-duration: 50s;
}

@keyframes uno {
    0% {
        background-color: #ffffff;
        color: white;
    }
    50% {
        background-color: #ffffff;
        color: white;
    }
    80% {
        background-color: rgb(10, 230, 58);
        color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(10, 230, 58);
        color: rgb(255, 255, 255);
    }
}

.core h3 {
    font-size: 22px;
    color: rgb(10, 230, 58);
    font-weight: 900;
    animation-name: unoo;
    animation-duration: 50s;
}

@keyframes unoo {
    0% {
        color: white;
    }
    50% {
        color: white;
    }
    80% {
        color: rgb(10, 230, 58);
    }
    100% {
        color: rgb(10, 230, 58);
    }
}
